BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpacesBeforeTrailingComments: 2
Cpp11BracedListStyle: true
Standard: c++20
